.login-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top right, whitesmoke,white); /* Unified background */
}

.left-panel, .right-panel {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem; /* Same padding for both panels */
}

.left-panel {
    border-radius: 25px 0 0 25px;
}

.left-panel h1 {
    color: black;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.left-image {
    width: 100%;
    max-width: 500px;
}

.right-panel {
    background-color: transparent; /* Transparent background to blend with the left panel */
    border-radius: 0 25px 25px 0;
    box-shadow: none; /* Remove box-shadow */
}

.right-panel h1 {
    color: black; /* Change text color to white for better contrast */
    font-size: 2rem;
    margin-bottom: 2rem;
}

.input-container {
    width: 100%;
    margin-bottom: 1rem;
}

input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f9f9f9;
}

.login-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #ffd700;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1rem;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #ffeb3b;
}

.or-login {
    margin: 1rem 0;
    color: #aaa;
}

.social-login {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-bottom: 1rem;
}

.social-login button {
    width: 40%;
    margin-left: 20px;
    padding: 0.75rem;
    
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1rem;
}



.google-login {
    background-color: #db4437;
}



.signup-text {
    color: rgb(62, 61, 61); /* Change text color to white for better contrast */
    margin-top: 1rem;
}

.signup-text a {
    color: #ffd700;
    text-decoration: none;
}
