@import "../../responsive.scss";


.slider {
    padding-top: 10px;
    width: 100%;
    height: 350px;
    display: flex;
    gap: 20px;


    .fullSlider {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgb(137, 137, 137);
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 9999;

        .arrow {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;



            img {
                width: 50px;

                @include medium {
                    width: 30px;
                }

                @include sm {
                    width: 20px;
                }
            }
        }

        .imgcontainer {
            flex: 10;

            img {
                width: 100%;
                /* Change this to 3/4th of the screen width */
                height: 100%;
                /* Change this to 3/4th of the screen height */
                object-fit: cover;
            }
        }

        .close {
            position: absolute;
            top: 0;
            right: 0;
            color: white;
            font-size: 36px;
            font-weight: bold;
            padding: 50px;
            cursor: pointer;
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        cursor: pointer;
    }

    .bigImage {
        flex: 1.5;
    }

    .smallImages {
        flex: 1.5;

        .smi {

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 30px;
            grid-row-gap: 30px;

            img {
                height: 160px;
                gap: 20px;
            }

        }


    }
}