.mapContainer{
    display: flex;
    flex-direction: column;
}


.map{
    width: 470px;
    height: 60%;
    border-radius: 20px;
    position: relative;
    top: 8px;
    left: 4rem;
    flex: 1;
}

.ad{
    margin-top: 30px;
    flex: 1;
}
